
  <!-- logos {{ include.logo }} -->
  <div class="logo1">
    {{ include.gitusers }}
    <br/>
    <br/>
    <img src="/assets/images/ibm-logo.png" 
         alt="IBM"
         width="100"
         height="42"
    />
    <img src="/assets/images/sap-logo.png" 
         alt="SAP"
         width="100"
         height="42"
    />
    <img src="/assets/images/paypal-logo.png" 
         alt="PAYPAL"
         width="124"
         height="42"
    />
    <img src="/assets/images/jaya-logo.png" 
         alt="NASA"
         width="100"
         height="42"
    />
    <img src="/assets/images/nasa-logo.png" 
         alt="NASA"
         width="54"
         height="42"
    />
  </div>
