      <br/>
      <hr>
      <iframe 
        src="https://www.whatismybrowser.com/feature/iframe?size=small&bgcolor=BFBFB0&color=3E4759&bordercolor=8C7268&capabilities=true&screen=true&ip_address=true&viewmore=true" 
        width="480"
        height="330" 
        style="border: none;">
      </iframe> 

      <!-- debug -->
      {% if usedebug %}
      <br/>
      <hr>
      <b>MDEBUG</b>
      <br/>
      <b>* all images:</b>
      </br>
      {% assign image_files = site.static_files | where: "image", true %}
      {% for myimage in image_files %}
        &nbsp;&nbsp;{{ myimage.path }}<br/>
      {% endfor %}
      <br/>
      <b>* page name:</b>
      &nbsp;&nbsp;{{ page.name }}
      <br/>
      <b>* page url:</b>
      &nbsp;&nbsp;{{ page.url }}
      <br/>
      <b>* page Etag:</b>
        {% for etag in site.data.etag %}
        &nbsp;&nbsp;{{ etag.etagvalue }}
        {% endfor %}
      {% endif %}

      {% if useiframe %}
      <br/>
      <b>iframe:</b>
      <br/>
      <iframe 
        src="https://www.whatismybrowser.com/feature/iframe?size=small&bgcolor=BFBFB0&color=3E4759&bordercolor=8C7268&capabilities=true&screen=true&ip_address=true&viewmore=true"
        height="330" 
        style="border: none;">
      </iframe> 
      <br/>
      <br/>
      {% endif %}       