  <!-- navi include -->
  <header id="nav-menue">
    <a href="https://mikefeldmeier.github.io/" id="bereichlogo">MFC COMP.</a>
    <nav id="steuerung" role="navigation">
      <ul>
        <li><a href="index.html"     >&nbsp;&nbsp;&nbsp;Home</a></li>
        <li><a href="github-jp.html" >&nbsp;&nbsp;&nbsp;Github-JP</a></li>
        <li><a href="image1.html"    >&nbsp;&nbsp;&nbsp;Nara</a></li>
        <li><a href="image2.html"    >&nbsp;&nbsp;&nbsp;Takaoka</a></li>
        <li><a href="image3.html"    >&nbsp;&nbsp;&nbsp;Iana</a></li>
        <li><a href="gallery.html"   >&nbsp;&nbsp;&nbsp;Gallery</a></li>
        <li><a href="figure.html"    >&nbsp;&nbsp;&nbsp;Figures</a></li>
        <li><a href="video.html"     >&nbsp;&nbsp;&nbsp;Video</a></li>
        <li><a href="impressum.html" >&nbsp;&nbsp;&nbsp;Impressum</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;Dummy 1</a></li>
        <li><a href="#">&nbsp;&nbsp;&nbsp;Dummy 2</a></li>
      </ul>
    </nav>
    <a class="menue-button menue-button-beschr-close" 
       href="#nav-menue-zu">close MENU</a>
    <a class="menue-button menue-button-beschr-open" 
       href="#nav-menue">open MENU</a>
  </header>
