/* ------------------- */
/* mobile.scss         */
/* ------------------- */
body {
  text-align:     left;
  margin-right:   2px;
  margin-left:    2px;
  /*  min-width:      960px; */
  padding-bottom: 1em; 
  color: yellow;
  background-color: #ffffff;
  font-family:    Arial, Verdana, sans-serif;
  /* font-size:      1em; */
  /* fluid typography     */
  /* min 400px max 1200px */
  /* font min 14, max 24  */
  font-size: calc(14px + (24 - 14) * ((100vw - 400px) / (1200 - 400)));
}

.browser {
  text-align:       center;
  background-color: #ffffff;
  font-size:        1em;
}


/* outermost div tag  */
#outerframe {
//  width:            99%;
  background-color: #000000; 
  mrgin-left:       0px;
  margin-right:     0px;
  /* dmenu BOX title "Menu" */
  color:            white;
}

h1 {
  font-size:     1.5em;
  margin-left :  2px;
  padding-top:   0px;
  padding-left:  0px;
  color:         yellow;
}

h2 {
  font-size:     1.3em;
  margin-left :  2px;
  padding-top:   0px;
  padding-left:  0px;
  color:         yellow;
}

h3 {
  font-size:     1.0em;
  margin-left :  2px;
  padding-top:   0px;
  padding-left:  0px;
  color:         yellow;
  background-image:url(img/editpage1.png);
  background-attachment:scroll; /* or scroll */
}
/* dmenu subtitle */
h4 {
  color: 7c7c7c;
  font:italic 1em sans-serif;
  text-shadow:    yellow 4px 4px 4px;
  margin-left:    2px;
  margin-top:     2px;
  margin-bottom:  4px;
  padding-top:    5px;
  padding-bottom: 10px;
  visibility:     show;
}
/* dmenu subtitle */
h5 {
  color: 7c7c7c;
  font:italic 1em sans-serif;
  text-shadow:    yellow 4px 4px 4px;
  margin-left:    2px;
  margin-top:     2px;
  margin-bottom:  4px;
  padding-top:    5px;
  padding-bottom: 10px;
  visibility:     show;
}

#frame {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "nav"
        "main"
}



@media only screen and (min-width: 800px) {
    #frame {
        width: 99%;
        grid-template-areas:
            "nav"
            "main";
    }
}

@media only screen and (min-width: 961px) {
    #frame {
        width: 99%;
    }
}

p {
    margin-top:   1.25em;
    margin-left:  2px;
    margin-right: 2px;
}

.nav {
    grid-area: nav;
    display: inline-block;

    h1 {
        font-size: 2em;
        margin-bottom: 1em;

        a {
            text-decoration: none;
        }
    }
}


#main {
    grid-area: main;
    list-stype-type: circle;
    @for $index from 1 through 6 {
        h#{$index} {
            margin-top: 1.25em;
            margin-bottom: .75em;
        }

        h#{$index}+p {
            margin-top: 0em;
        }
    }
}
