/* ------------------- */
/* reset.scss          */
/* ------------------- */

/* Box sizing rules,   */
/* makes always sense  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove margins */
body,
h1,
h2,
h3,
h4,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* leave 2px p margin */
/* left and right     */
p {
  margin-left:  2px;
  margin-right: 2px;
}

/* Set body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Remove list styles on ul, ol    */
/* elements with a class attribute */
ul[class],
ol[class] {
/*  list-style-type: none; */
    list-style-type: circle;
}

/* A classless element */
/* get default styles  */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: #000000;
}

a:not([class]):hover {
  color: #666666;
}

/* img defaults */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm */
/* in articles by default  */
article>*+* {
  margin-top: 1em;
}

/* fonts for inputs and BTN */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations and transitions    */
/* for those who prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}