<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"            content="width=device-width,initial-scale=1" />
  <meta http-equiv="Expires"       content="Mon, 17 Sep 2012 12:00:00 GNT"      />  
  <meta http-equiv="Cache-Control" content="no-cache"        />
  <meta http-equiv="Cache-Control" content="no-store"        />
  <meta http-equiv="Cache-Control" content="must-revalidate" />
  <meta http-equiv="Pragma"        content="no-cache"        />

  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet"    href="assets/css/styles.css"    >
  <link rel="shortcut icon" href="assets/images/favicon.jpg">
</head>
<body>
  <div id="frame">
    <div id="header">
      {% include _nav.html %}
    </div>
    <div id="main">
      {{ content }}
    </div>
    <div id="footer">
      {% include _footer.html %}
    </div>
    <div id="members">
      <br/>
      <b>Site members:</b>
      <br/>
      <ul>
        {% for member in site.data.members %}
        <li>
          <a href="https://github.com/{{ member.github }}">
            {{ member.name }}
          </a>  
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="debug">
      {% include _debug.html %}
    </div>
  </div>
</body>