<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"            content="width=device-width,initial-scale=1" />
<!--  
  <meta http-equiv="EXPIRES"       content="Mon, 17 Sep 2012 12:00:00 GNT"      />  
-->
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"                           />
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <div id="frame">
    <div id="header">
      {% include _nav.html %}
    </div>
    <div id="main">
      {{ content }}
    </div>
    <footer>
      <ul>
        <li>
          <a href="mailto:mikos0102@cologne-engines.de">email</a>
        </li>
        <li>
          <a href="https://github.com/mikefeldmeier">github.com/mikefeldmeier</a>
        </li>
      </ul>
    </footer>
  </div>
</body>